-i https://pypi.org/simple
aiomysql==0.2.0; python_version >= '3.7'
aiosqlite==0.20.0; python_version >= '3.8'
annotated-types==0.6.0; python_version >= '3.8'
anyio==4.3.0; python_version >= '3.8'
asyncpg==0.29.0; python_full_version >= '3.8.0'
click==8.1.7; python_version >= '3.7'
dnspython==2.6.1; python_version >= '3.8'
email-validator==2.1.1
fastapi==0.110.2; python_version >= '3.8'
greenlet==3.0.3; python_version >= '3.7'
h11==0.14.0; python_version >= '3.7'
idna==3.7; python_version >= '3.5'
py==1.11.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pydantic[email]==2.7.0; python_version >= '3.8'
pydantic-core==2.18.1; python_version >= '3.8'
pydantic-settings==2.2.1; python_version >= '3.8'
pymysql==1.1.0; python_version >= '3.7'
python-dotenv==1.0.1; python_version >= '3.8'
sniffio==1.3.1; python_version >= '3.7'
sqlalchemy==2.0.29; python_version >= '3.7'
starlette==0.37.2; python_version >= '3.8'
typing-extensions==4.11.0; python_version >= '3.8'
uvicorn==0.29.0; python_version >= '3.8'
